.sec_1{
	background-color: #222836;
}
.sec_1_s_2{
	background:url("http://thepatternlibrary.com/img/ao.gif");
}
.sec_2{
	background-color: #E7F4F8;
}
.sec_4{
	background-color: #fffbde;
}
.sec_5{
	background-color: #e7f4f8;
}
footer{
	background-color: #4c515b;
}
.style_b{
	background-color: #FF8261;
	border: transparent 1px solid;
}
.style_b:hover{
	background-color: #52CBF8;
	text-decoration: none;
}
.style_b:active{
	background-color: #52CBF8;
	text-decoration: none;
}
.style_navbar{
	background-color: #FF8261;
}
.style_navbar button{
	outline:none;
}
.style_k{
	background-color: #FF8261;
	width: 60px;
	height: 60px;
	font-size: 30px;
	line-height:55px;
}
.carousel-indicators>li{
	width: 10px;
	height: 10px;
	background-color: transparent;
	border-radius: 50%;
	border: solid 3px yellow;
}
.carousel-indicators>li[class="active"]{
		border: solid 3px blue;
}
.style_b_s{
	border: transparent solid 0;
}
.red_line{
	position: relative;
}
span.red_line:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: red;
	top: -5px;
}
.style_s{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bolder;
}
.style_s span:first-child{
	color: #ff8261;
}
.style_s span:last-child{
	color: #52cbf8;
}
.style_s_2{
	font-size: 50px;
	text-transform: uppercase;	
}
.style_s_2 span:last-child{
	font-weight: bolder;
}
.style_p{
	background-color: #52CBF8;
}
.f_style li{
	list-style: none;
}
.link_box a{
	color: #909AAD;
	font-size: 30px;
}
.link_box a i[class="fab fa-facebook-f"]:hover{
	color: #3B579D;
	transition: 0.5s;
}
.link_box a i[class="fab fa-twitter"]:hover{
	color: #3FA6DB;
	transition: 0.5s;
}
.link_box a i[class="fab fa-linkedin-in"]:hover{
	color: #fff;
	transition: 0.5s;
}
.link_box a i[class="fab fa-google-plus-g"]:hover{
	color: red;
	transition: 0.5s;
}
.link_box a i[class="fab fa-youtube"]:hover{
	color: red;
	transition: 0.5s;
}
.link_box_blog a{
	font-size: 18px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.link_box_l a{
	font-size: 18px;
	color: #bcbcbc;
}
.link_box_3 a{
	font-size: 18px;
	color: gray;
}
.link_box_3 a:hover{
	text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}
.link_num{
	font-size: 18px;
	color: #000;
}
a .link_num:hover{
	background-color: #FF8261;
	color: #fff ;
	text-decoration: none;
}
a .link_num:active{
	background-color: #FF8261; 
	color: #fff;
}
.scop{
	position: relative;
}
.scop:before{
	content: "\275B\275B";
	font-size: 30px;
	position: absolute;
	top: -30px;
	left: -20px;
}
.color_red:before{
	color:#FF8261;
	left:10px;
	font-size: 40px;
}
.style_li li{
	list-style: none;
	position: relative;
}
.style_li li:before{
	content: "\203A";
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	color: #000;
	left: -20px;
	top: -18px;
}
.li_2 li:before{
	color: #FF8261;
}
.for_img{
	background-color: #bcbcbc;
	max-width: 200px;
	max-height: 200px;
	min-width: 100px;
	min-height: 100px;
	position: relative;
}
.for_img:before{
	content: "";
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.0);
	line-height: 5;
	font-size: 0;
	color: transparent;
}
.for_img:hover:before{
	content: "добавити зображення";
	background-color: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 1s;
	transform: rotate(0);
	text-align: center;
	color: #FFF;
	font-size: 18px;
	border-top: solid 10px gray;
}
.for_img:after{
	content: "\271A";
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.for_img:hover:after{
	color: transparent;
	transition: 1s;
}
.style_circle{
	background-color: #FF8261;
	width: 5rem;
	height: 5rem;
	position: relative;
	box-sizing: border-box;
}
.style_circle div{
	border: dotted 1px #fff;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}
.style_num{
	background-color: #FF8261;
	font-size: 30px;
}
.style_price span:nth-child(1n+2){
	font-size: 35px;
}
.style_price:hover{
	text-decoration: none;
	transition: 0.5s;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.style_input input{
	outline: none;
	border: none;
}
.style_input_2 input{
	outline: none;
	border: none;
	border: solid 1px rgba(0,0,0,0.2);
}
.style_input_2 textarea{
	outline: none;
	border: none;
	border: solid 1px rgba(0,0,0,0.2);
	resize: none;
	height: 100px;
}
.style_input input:first-child{
	border-bottom: dotted 1px rgba(0,0,0,0.2);
}
.style_search span{
	color: #FF8261;
	font-size: 20px;
}
.style_search input{
	border: transparent 1px solid;
	outline: none;
}
.style_search{
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.style_c{
	font-size: 14px;
}
.map{
	height: 250px;
}